<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../css/css.css">
    </head>
    <body>

        <h1 style="background: red">Historia de la musica</h1>
        <div>
            <table border="4">
                <tr>
                    <td>Genero</td>
                    <td>Historia</td>
                    <td>Imagen</td>
                </tr>
                <tr>
                    <td>Pop</td>
                    <td>La música pop (del inglés pop music, contracción de popular music) 
                        es un género de música popular que tuvo su origen a finales de los años 1950 como una 
                        derivación del rock and roll, en combinación con otros géneros musicales que estaban en moda
                        en aquel momento.1 2 Los términos música pop y música popular se usan a menudo de manera
                        indistinta, aunque el segundo tiene un sentido 
                        más amplio al dar cabida a otros géneros distintos del pop que se consideren populares.</td>
                    <td><div id="wrapper">
                            <img src="../../imgs/aaa.jpg"
                        </div></td>
                </tr>
                <tr>
                    <td>Electronica</td>
                    <td>La música electrónica es aquel tipo de música
                        que emplea para su producción e interpretación de instrumentos 
                        electrónicos y tecnología musical electrónica. En general, puede distinguirse entre 
                        el sonido producido utilizando medios electromecánicos de aquel producido utilizando 
                        tecnología electrónica que también puede ser mezclada. Ejemplos de dispositivos que producen 
                        sonido electro mecánicamente son el telarmonio, el órgano Hammond y la guitarra eléctrica. 
                        La producción de sonidos 
                        puramente electrónica puede lograrse mediante aparatos como el theremin, el sintetizador 
                        de sonido y el ordenador.</td>
                    <td><div id="wrapper">
                            <img src="../../imgs/avv.jpg"
                        </div></td>
                </tr>
            </table>
        </div>


    </body>
</html>

